body {
  background: #0000ff45;
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
.link {
    text-decoration: none;
    color: black;
}
/* :hover - Changer la couleur de fond au survol */
.link:hover {
  background: orange;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* :active - Ajouter un effet visuel lors du clic */
.link:active {
  background: green;
}
/* :focus - Styliser le focus au clavier */
.link:focus {
  background: red;
}

/* :visited - Styliser les liens visités */
.link:visited {
  color: yellow;
}
